.nav-box {
   background: var(--black) !important;
}

.sign-up {
   color: var(--white);
}

.sign-up:hover {
   background-color: var(--white) !important;
   opacity: 1 !important;
   color: var(--black);
}

.font-sans {
   font-family: var(--lato) !important;
}

.sign-in {
   background: var(--mint) !important;
}
